# Build outputs
src/VisorMD/bin/
src/VisorMD/obj/
src/.vs/
dist/
*.pdb

# Frontend
src/VisorMD/wwwroot/node_modules/
src/VisorMD/wwwroot/dist/

# IDE
*.suo
*.user
*.sln.docstates

# OS
.DS_Store
Thumbs.db
